<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Campusconnectfinal"
        tools:targetApi="31">
        <activity
            android:name=".messageactivities.chat"
            android:exported="false" />
        <activity android:name=".messageactivities.Messagemain"
            android:exported="false" />
        <activity
            android:name=".dltaddialogue"
            android:exported="false" />
        <activity
            android:name=".homeactivities.Contacts"
            android:exported="false" />
        <activity
            android:name=".homeactivities.erp"
            android:exported="false" />
        <activity
            android:name=".homeactivities.libraray"
            android:exported="false" />
        <activity
            android:name=".profileactivities.edit_profile"
            android:exported="true" />
        <activity
            android:name=".marketactivities.product_info"
            android:exported="true" />
        <activity
            android:name=".marketactivities.myads"
            android:exported="true" />
        <activity
            android:name=".marketactivities.createad"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>